<h2>Update the drone{{drones.name}}</h2>

<form action="/drones/{{_id}}/edit" method="POST">
    <label for="name">Drone name</label>
    <input id="{{drones.name}}" name="name" type="text" value="{{drones.name}}"></input>

  
  <label for="nombre">Number of Propellers</label>
    <input id="propellers" name="propellers" type="Number" value="{{drones.propellers}}"></input>


    <label for="maxSpeed">Max Speed</label>
    <input id="maxSpeed" name="maxSpeed" type="Number"></input>

    <button type="submit">Modificar Drone</button>
</form>